terraform-provider-mikrotik
dist/
vendor
.vscode/
.idea/

# GPG keys - NEVER commit these!
*.asc
private-key.*
public-key.*
.gpg-id
key
lock

# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of go build
bin/
*.out
